# =====================================================
# 🧱 ivi.php Framework – Git Ignore Rules
# =====================================================

cmd.md
.vscode/
.git/
public/images/
public/vendor/
public/.well-known/
request.log

# =====================================================
# 🧩 OS
# =====================================================
.DS_Store
Thumbs.db

# =====================================================
# 🧰 Editors / IDE
# =====================================================
.idea/
.vscode/
*.swp

# =====================================================
# 🐘 PHP / Composer
# =====================================================
vendor/
composer.phar
# Garder composer.lock versionné (important pour reproductibilité)

# =====================================================
# 🧾 Logs / Cache / Tests
# =====================================================
*.log
logs/
storage/
cache/
tmp/
coverage/
.phpunit.result.cache

# =====================================================
# 🔐 Environment & Secrets
# =====================================================
.env
.env.local
.env.staging
.env.production
.env.*          # ignore tous les autres .env custom
!*.env.example   # <— ✅ conserve .env.example dans le repo

*.pem
*.key
*.p12
*.keystore
*.jks
*.crt
*.der

# =====================================================
# 📊 Reports
# =====================================================
gitleaks-report.json

# =====================================================
# 🌐 Frontend / Node / Build
# =====================================================
node_modules/
dist/
build/
.phpunit.cache

# public/modules
public/modules/*
!public/modules/.gitignore
modules/User/Core/Repositories/new.sql
db/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

